
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <div>
        <table id="books" class="table table-striped text-start">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Publish date</th>
                    <th>Description</th>
                    <th>Borrowed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(IBook book in Model)
                {
                    <tr>
                        <td class="book-id">@book.Id</td>
                        <td>@book.Author</td>
                        <td class="book-title">@book.Title</td>
                        <td>@book.Genre</td>
                        <td>@book.Price</td>
                        <td>@book.PublishDate.ToShortDateString()</td>
                        <td>@book.Description</td>
                        <td class="book-borrowed">@book.Borrowed?.FullName</td>
                        <td>
                            @if (book.Borrowed != null)
                            {
                                <button type="button" class="btn btn-primary returnButton" data-bs-toggle="modal" data-bs-target="#returnModal">
                                    Return
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success borrowButton" data-bs-toggle="modal" data-bs-target="#borrowModal">
                                    Borrow
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="returnModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Return book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="returnModalData"></p>
      </div>
      <div class="modal-footer">
        <form method="post" action="/Home/ReturnBook">
            <input name="bookId" id="returnBookId" type="hidden" value=""/>
            <input type="submit" value="Return" class="btn btn-primary"/>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="borrowModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrow book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="borrowModalData"></p>
        <div>
            <select name="userId" class="form-select" form="borrowForm">
                @foreach(IUser user in (List<IUser>)ViewData["Users"])
                {
                    <option value="@user.Id">@user.FullName</option>
                }
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <form method="post" action="/Home/BorrowBook" id="borrowForm">
            <input name="bookId" id="borrowBookId" type="hidden" value=""/>
            <input type="submit" value="Borrow" class="btn btn-success"/>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


